<ion-navbar *navbar>
    <ion-title>{{ document.title }}</ion-title>
</ion-navbar>

<ion-content padding (scroll)="onScroll($event)">

    <header>
        <h2 text-center>{{ document.title }}</h2>
    </header>

    <section>
        <img [src]="document.imageUrl" [alt]="document.title">
        <p>{{ document.description }}</p>
    </section>

    <ion-list no-lines>
        <ion-item *ngFor="#comment of shownComments">
            <ion-avatar item-left>
                <img [src]="comment.author.avatar || 'http://placehold.it/96'">
            </ion-avatar>
            <a>{{ comment.author.name }}</a>
            <p>{{ comment.message }}</p>
        </ion-item>
    </ion-list>
    <button clear full *ngIf="document.comments.length > commentsMax"
            (click)="loadMoreComments()">Load more comments
    </button>
</ion-content>
